* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
body{
  background-color: #e0dbdb;
}
strong{
  color:rgba(235, 220, 14, 0.753) ;
  font-weight: 400;
}
title{
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.bg-dark{
  background: #333;
  color: white;
}
em{
  color: #555;
}

/* header */
header {
  padding-left: 1rem;
  background: #333;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  line-height: 1.8rem;
}

header h2 a{
  color: white;
  text-decoration: none;
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  font-family:'Open Sans', sans-serif;
}

header nav ul li a{
  color: white;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

header nav ul {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;


}

header nav ul li a:hover {
  color: rgba(235, 220, 14, 0.753);
}

header ul li {
  padding: 1rem;
}

.logo{
  margin-bottom: 0;
  font-family: "open sans";
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.vp{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  background: url(../images/frame1.jpg) center center/cover ;
}
.vp-content{
  max-width: 800px;
  text-align: center;
  color: white;
}.vp-content h1{
  font-size: 2.8rem;
  margin-bottom: 1rem;
}
.vp-content p {
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 1px;
line-height: 2rem;
}
/* offer */
.offer{
  padding: 10rem 1rem;
}
.container{
  display: block;
  max-width: 1200px;
  margin: auto;

}
.offer-list{
  display: flex;
  list-style: none;
  flex-flow: row nowrap;
}
.offer-element{
  margin: 2rem;
  background: white;
  border: 1px solid #ddd;
  border-radius: 23px;
  flex: 1;
}
.offer-element-img{
  width: 100%;
}
.offer-element-text{
  padding: 2rem;
  text-align: center;
}
.offer-separtor{
  height: 1px;
  width:50px;
  background: #333;
  margin: 1rem auto;
}
/* who */
.who{
  display: flex;
  flex-flow: row nowrap;

}
.who-content-img img{
  width: 100%;

}
.who-content-img{
  flex: 1;

}
.who-content-text{
  flex: 1;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.who-content-text p{
font-size: 1.3rem;
line-height: 1.8rem;
}
.testimoniels{
  padding: 5rem 1rem;
}
.testimonels-element{
  flex: 1;
  background: white;
  border-radius: 5px;
  padding: 2rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: space-between;

}
.testimonels-element-text{
  padding: 0 2rem;
}
.testimonels-element-profil img{
  width: 50px;
  border-radius: 50px;
}
.testimonels-element-profil p{
font-weight: 700;
margin-bottom: 0.5rem;
color: #333;
}
/* contact */
.contact{
  padding: 10rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-form{
  max-width: 600px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contact-form input{
  background: #333;
  border: 0;
  border-bottom:1px solid #555;
  padding: 1rem;
  font-size: 1.3rem;
  color: white;
  outline: 0;
  margin-bottom: 1rem;
}
.contact-form button{
  display: block;
  margin: 3rem auto;
  padding: 1rem 2rem;
  border: 0;
  border-radius: 30px;
  background:rgba(235, 220, 14, 0.753);
  color: white;
  font-weight: 700;
  cursor: pointer;
}
.contact-form button:hover{
  background: #e93b3b;
}
/* footer */
footer{
  background: #444;
  padding: 2rem 1rem;
}
footer p{
margin-bottom: 0;
color: white;
text-align: center;
font-weight: 400;
}